<!DOCTYPE html>

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>

<body>

    <header>
        <div class="top">
            <img src="/static/images/logo-mercado-liebre.svg" height="100">

            <div><input type="text" placeholder="Buscar productos, marcas" class="search-text">
                <inline class="search-box"><i class="fas fa-search"></inline></i>
            </div>
            <div class="en-cuotas"><i class="fas fa-hand-holding-usd icon" class="icon"> </i>Comprá en cuotas y sin
                tarjeta de crédito</div>
        </div>

        <nav>
            <li><a href>Ofertas </a></li>
            <li><a href>Tiendas Oficiales </a></li>
            <li><a href>Vender </a></li>
            <li><a href>Ayuda </a></li>
            <br>
            <li><a href>Creá tu cuenta <i class="far fa-address-card icon"> </i></a></li>
            <li><a href>Ingresá <i class="fas fa-sign-in-alt icon"> </i></a></li>
            <li><a href>Mis compras <i class="fas fa-shopping-basket icon"> </i></a></li>
        </nav>
        <div class="burger-menu-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
        </div>

    </header>

    <banner>
        <img src="/static/images/img-home-banner.jpg" alt="banner" class="banner">
    </banner>

    <main>
        <section>
            <h2 class="titular">Basado en tu última visita</h2>
            <article>
                <img src="/static/images/img-cafetera-moulinex.jpg">
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/static/images/img-macbook-pro-2019.jpg">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/static/images/img-samsung-galaxy-s10.jpg">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/static/images/img-tv-samsung-smart.jpg">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">SmartTV Samsung 43"</p>
            </article>
        </section>

        <section>
            <h2 class="titular">Sección de Ofertas</h2>
            <article>
                <img src="/static/images/img-cafetera-moulinex.jpg">
                <p class="precio">$6.770</p>
                <p class="descuento">40% off</p>
                <p class="descripcion">Cafetera Moulinex</p>
            </article>
            <article>
                <img src="/static/images/img-macbook-pro-2019.jpg">
                <p class="precio">$230.000</p>
                <p class="descuento">20% off</p>
                <p class="descripcion">MacBook Pro 2019</p>
            </article>
            <article>
                <img src="/static/images/img-samsung-galaxy-s10.jpg">
                <p class="precio">$70.500</p>
                <p class="descuento">10% off</p>
                <p class="descripcion">Samsung Galaxy S10</p>
            </article>
            <article>
                <img src="/static/images/img-tv-samsung-smart.jpg">
                <p class="precio">$23.200</p>
                <p class="descuento">5% off</p>
                <p class="descripcion">SmartTV Samsung 43"</p>
            </article>
        </section>



    </main>
    <footer>
        <article>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </article>
        <article>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </article>
        <article>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </article>
        <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

    </footer>

</body>